res/xml/level.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- SIMPLE TYPES, used to make sure values are properly set -->

  <xs:simpleType name="stringType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="floatType">
    <xs:restriction base="xs:float" />
  </xs:simpleType> 

  <xs:simpleType name="intType">
    <xs:restriction base="xs:int" />
  </xs:simpleType>

	<xs:simpleType name="booleanType">
		<xs:restriction base="xs:boolean" />
	</xs:simpleType>

  <xs:simpleType name="tileStateType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="FLOOR" />
      <xs:enumeration value="WALL" />
      <xs:enumeration value="PIT" />
      <xs:enumeration value="BRIDGE" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AIEnumType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="STALKER" />
      <xs:enumeration value="PATROL" />
      <xs:enumeration value="TURRET" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="causeType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="CauseNOT" />
      <xs:enumeration value="CauseOR" />
      <xs:enumeration value="CauseAND" />
      <xs:enumeration value="CauseXOR" />
      <xs:enumeration value="CauseButton" />
      <xs:enumeration value="CauseDoneMoving" />
      <xs:enumeration value="CauseDoneRotating" />
      <xs:enumeration value="CauseDoneScaling" />
      <xs:enumeration value="CauseEnemyCount" />
			<xs:enumeration value="CauseEntityDestruction" />
      <xs:enumeration value="CauseLocation" />
      <xs:enumeration value="CausePlayerHealth" />
			<xs:enumeration value="CauseOffScreen" />
      <xs:enumeration value="CauseTimePassed" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="effectType">
    <xs:restriction base="xs:token">
			<xs:enumeration value="EffectActivateEnemy" />
			<xs:enumeration value="EffectActivateNodeLink" />
			<xs:enumeration value="EffectAND" />
			<xs:enumeration value="EffectDeactivateEnemy" />
			<xs:enumeration value="EffectDeactivateNodeLink" />
      <xs:enumeration value="EffectDoor" />
      <xs:enumeration value="EffectEndGame" />
			<xs:enumeration value="EffectList" />
      <xs:enumeration value="EffectRaiseBridge" />
      <xs:enumeration value="EffectRemoveEntity" />
			<xs:enumeration value="EffectSetEnemyOuterRadius" />
      <xs:enumeration value="EffectTriggerTimer" />
    </xs:restriction>
  </xs:simpleType>

  <!-- COMPLEX TYPES, used to prevent rewriting elements into everything! -->

  <xs:complexType name="EntityInfo">
    <xs:sequence>
      <xs:element name="id" type="stringType" />
			<xs:element name="size" type="floatType" />
      <xs:element name="xPos" type="floatType" />
      <xs:element name="yPos" type="floatType" />
			<xs:element name="angle" type="floatType" minOccurs="0" />
			<xs:element name="xScl" type="floatType" minOccurs="0" />
			<xs:element name="yScl" type="floatType" minOccurs="0" />
      <xs:element name="renderMode">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="color" type="stringType" minOccurs="0" />
            <xs:element name="gradient" type="stringType" minOccurs="0" />
            <xs:element name="texture" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="texID" type="stringType"/>
                  <xs:element name="coords" type="stringType" minOccurs="0" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="tileset" minOccurs="0" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="texID" type="stringType" />
                  <xs:element name="x" type="intType" />
                  <xs:element name="y" type="intType" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

	<xs:complexType name="PhysEntInfo">
		<xs:complexContent>
			<xs:extension base="EntityInfo">
				<xs:sequence>
					<xs:element name="moveSpeed" type="floatType" minOccurs="0" />
					<xs:element name="rotSpeed" type="floatType" minOccurs="0" />
					<xs:element name="sclSpeed" type="floatType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StaticEntInfo">
		<xs:complexContent>
			<xs:extension base="EntityInfo" />
		</xs:complexContent>
	</xs:complexType>
	
  <xs:complexType name="CharacterInfo">
    <xs:complexContent>
      <xs:extension base="PhysEntInfo">
        <xs:sequence>
          <xs:element name="health" type="intType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="EnemyInfo">
    <xs:complexContent>
      <xs:extension base="CharacterInfo">
        <xs:sequence>
          <xs:element name="AIType" type="AIEnumType" />
					<xs:element name="PatrolPath" type="stringType" minOccurs ="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="BlobInfo">
		<xs:complexContent>
			<xs:extension base="EnemyInfo" />
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="ButtonInfo">
    <xs:complexContent>
      <xs:extension base="StaticEntInfo" />
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="CannonInfo">
		<xs:complexContent>
			<xs:extension base="StaticEntInfo">
				<xs:sequence>
					<xs:element name="BallSpeed" />
					<xs:element name="FireRate" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
  <xs:complexType name="DoorInfo">
    <xs:complexContent>
			<xs:extension base="StaticEntInfo" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PhysBlockInfo">
    <xs:complexContent>
      <xs:extension base="PhysEntInfo">
        <xs:sequence>
          <xs:element name="friction" type="floatType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PhysBallInfo">
    <xs:complexContent>
      <xs:extension base="PhysEntInfo">
        <xs:sequence>
          <xs:element name="friction" type="floatType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PickupInfo">
    <xs:complexContent>
      <xs:extension base="PhysEntInfo">
        <xs:sequence>
          <xs:element name="value" type="intType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="PickupEnergyInfo">
		<xs:complexContent>
			<xs:extension base="PickupInfo" />
		</xs:complexContent>
	</xs:complexType>
	
  <xs:complexType name="PickupHealthInfo">
    <xs:complexContent>
      <xs:extension base="PickupInfo" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PlayerInfo">
    <xs:complexContent>
      <xs:extension base="CharacterInfo" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PuzzleBoxInfo">
    <xs:complexContent>
      <xs:extension base="StaticEntInfo" />
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="SpikeBallInfo">
		<xs:complexContent>
			<xs:extension base="PhysEntInfo">
				<xs:sequence>
					<xs:element name="moveToX" type="intType" />
					<xs:element name="moveToY" type="intType" />
					<xs:element name="rotateLeft" type="booleanType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SpikeInfo">
		<xs:complexContent>
			<xs:extension base="StaticEntInfo" />
		</xs:complexContent>
	</xs:complexType>
	
  <xs:complexType name="SpriteInfo">
    <xs:complexContent>
      <xs:extension base="StaticEntInfo" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TileInfo">
    <xs:attribute name="state" type="tileStateType" use="required" />
  </xs:complexType>

	<xs:complexType name="WallButtonInfo">
		<xs:complexContent>
			<xs:extension base="StaticEntInfo" />
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TeleporterInfo">
		<xs:complexContent>
			<xs:extension base="StaticEntInfo" />
		</xs:complexContent>
	</xs:complexType>
	
  <!-- LEVEL XSD -->

   <xs:element name="Level">
    <xs:complexType>
      <xs:sequence> 
				
        <xs:element name="Tileset">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Tile" type="TileInfo" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="x" type="xs:integer" use="required"/>
            <xs:attribute name="y" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>

				<xs:element name="Nodes" type="stringType" />
				<xs:element name="NodeLinks" type="stringType" />
				<xs:element name="NodePaths" type="stringType" />
				
        <xs:element name="Entities">
          <xs:complexType>
            <xs:sequence>
							<xs:element name="Teleporter" type="TeleporterInfo" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="Blob" type="BlobInfo" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="Button" type="ButtonInfo" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="Cannon" type="CannonInfo" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="Door" type="DoorInfo" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="PhysBlock" type="PhysBlockInfo" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="PhysBall" type="PhysBallInfo" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="PickupEnergy" type="PickupEnergyInfo" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="PickupHealth" type="PickupHealthInfo" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="PuzzleBox" type="PuzzleBoxInfo" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="SpikeBall" type="SpikeBallInfo" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="Spike" type="SpikeInfo" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="Sprite" type="SpriteInfo" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="WallButton" type="WallButtonInfo" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="Player" type="PlayerInfo" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="Triggers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cause" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="id" type="stringType" use="required" />
											<xs:attribute name="type" type="causeType" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
              </xs:element>
              <xs:element name="Effect" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="id" type="stringType" use="required" />
											<xs:attribute name="type" type="effectType" use="required" />
										</xs:extension>
									</xs:simpleContent>
                </xs:complexType>
              </xs:element>
							<xs:element name="Trigger" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="cause" type="stringType" use="required" />
									<xs:attribute name="effect" type="stringType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

				<xs:element name="TeleporterLinker" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="t1" type="stringType" use="required" />
						<xs:attribute name="t2" type="stringType" use="required" />
						<xs:attribute name="oneWay" type="booleanType" use="required" />
					</xs:complexType>
				</xs:element>
				
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>